{% extends "base.html" %}
{% block title %}Album{% endblock  %}
{% block content %}

<div class="container my-4 p-4 bg-white shadow rounded">
    <header class="section-heading text-center mb-4">
        <h2 class="section-title">{{ album.title }}</h2>
        <p><strong>Artist:</strong> {{ album.artist.username }}</p>
        <p><strong>Release Date:</strong> {{ album.release_date }}</p>
    </header>
    <hr />

    <h4 class="mb-3">Songs in this Album:</h4>
    <div class="row">
        {% if album.songs.all %}
        {% for song in album.songs.all %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card shadow h-100">
                <img
                    src="{{ song.song_cover.url }}"
                    class="card-img-top"
                    alt="{{ song.title }}"
                    style="height: 200px; object-fit: cover; border-radius: 5px"
                />
                <div class="card-body text-center">
                    <h6 class="card-title">{{ song.title }}</h6>
                </div>
                <div class="card-footer text-center">
                    <a
                        class="btn btn-outline-primary mx-1"
                        href="{% url 'song_details' song.id %}"
                    >
                        <i class="fa fa-play" aria-hidden="true"></i> Play
                    </a>
                    <a
                        class="btn btn-outline-info mx-1"
                        href="{% url 'song_details' song.id %}"
                    >
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Info
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <p>No songs available in this album.</p>
        </div>
        {% endif %}
    </div>

    <hr />

    <h4 class="mb-3">Add Song to Album:</h4>
    <form class="form-inline" method="post" action="{% url 'add_song_to_album' album.id %}">
        {% csrf_token %}
        <div class="form-group mb-2 mr-sm-2">
            <select
                name="song"
                class="custom-select"
                required
            >
                <option selected disabled >Select a Song</option>
                {% for song in all_songs %}
                    <option value="{{ song.id }}">{{ song.title }}</option>
                {% endfor %}
            </select>
        </div>
        <button
            type="submit"
            class="btn btn-primary mb-2"
        >
            Add Song
        </button>
    </form>

    {% comment %} handle errors {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-3" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
