{% extends 'base.html' %}
{% block title %} Playlist Details {% endblock title %}
{% block content %}
<div class="container">
    <h2 class="mt-4">{{ playlist.name }}</h2>
    <h6>Created by: {{ playlist.user.username }}</h6>
    <h6>Created at: {{ playlist.created_at }}</h6>
    <h3 class="mt-4">Songs in this Playlist:</h3>
    {% if playlist.songs.count %}
    <ul class="list-group">
        {% for song in playlist.songs.all %}
       <a href="{% url 'song_details' song.id %}" > <li class="list-group-item">{{ song.title }} by {{ song.artist.username }}</li></a>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-info">No songs in this playlist.</div>
    {% endif %}
    <form action="{% url 'playlist_delete' playlist.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Delete Playlist</button>
    </form>
    <a href="{% url 'playlist_list' %}" class="btn btn-secondary mt-3">Back to Playlists</a>
</div>
{% endblock content %}
