<h1>Albums</h1>
<a href="{% url 'album_create' %}">Add New Album</a>
<ul>
    {% for album in albums %}
        <li>
            <a href="{% url 'album_detail' album.id %}">{{ album.title }}</a>
            <a href="{% url 'album_update' album.id %}">Edit</a>
            <form action="{% url 'album_delete' album.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
