{% extends 'base.html' %}
{% block title %} Detail {% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<br>
{% if messages %}
<ul class="messages" style="width: 600px;margin-left:400px">
  {% for message in messages %}
     <div class="alert alert-success message">
        <strong>Success!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
<br>

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-5">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active"><img src="{{song.song_cover.url}}" height="300" width="300"
                                style="padding:20px;border-radius: 60px 60px 60px 60px;"></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <br>
                    <h3 class="product-title">{{song.title}}</h3>
                    <h6>Album: {{song.album}}</h6>
                    <h6>Artist: {{song.artist.username}}</h6>
                    <h6>Release Year: {{song.release_year}}</h6>
                    <br>
                
                    <a href="{% url 'song_update' song.id %}" class="btn btn-primary" style="float: left; margin-top:16px;">
                        <i class="fa fa-edit" aria-hidden="true"></i> Edit Song
                    </a>

                    <form method="post" style="margin-top: 16px;">
                        {% csrf_token %}
                        <select style="margin-left: 10px;width: 170px; height:38px;" class="btn btn-success"
                            onChange="form.submit();" name="playlist">
                            <option selected="selected" disabled style="color: black;">Add to Playlist</option>
                            {% if playlists %}
                            {% for playlist in playlists %}
                            <option value="{{playlist.name}}" >{{playlist.name}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </form>

                    <form method="post" action="{% url 'song_delete' song.id%}">
                        {% csrf_token %}
                        <span class="d-flex align-items-center mt-2 ml-2">
                            <button type="submit" name="delete-fav" class="btn btn-danger btn-block"
                                style="width: 358px;margin-left:-8px;background-color: red;"><i class="fa fa-trash-o my-auto" style="color:white"></i> Delete</button>
                        </span>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
