{% extends "base.html" %}

{% block content %}
{% comment %} search songs based on genre and artists {% endcomment %}
<br />

<div class="container">
  <div class="col-md-13">
    <form class="form-horizontal" role="search" method="get" action="">
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control input-lg"
            style="border-radius: 5px"
            name="q"
            value="{{ query }}"
            placeholder="Search Songs"
          />

          <select
            name="genre"
            class="custom-select mx-1"
            style="border-radius: 5px"
          >
            <option value="" {% if not selected_genre %}selected{% endif %}>
              All Genres
            </option>
            {% for genre in all_genres %}
            <option
              value="{{ genre }}"
              {% if genre == selected_genre %}selected{% endif %}
            >
              {{ genre }}
            </option>
            {% endfor %}
          </select>

          <select
            name="artist"
            class="custom-select mx-1"
            style="border-radius: 5px"
          >
            <option value="" {% if not selected_artist %}selected{% endif %}>
              All Artists
            </option>
            {% for artist in all_artists %}
            <option
              value="{{ artist }}"
              {% if artist == selected_artist %}selected{% endif %}
            >
              {{ artist }}
            </option>
            {% endfor %}
          </select>

          <span class="input-group-btn">
            <button
              type="submit"
              style="border-radius: 5px"
              class="btn btn-primary"
            >
              Search
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>

  {% if not query and not selected_genre and not selected_artist %}
  <header class="section-heading">
    <h5 class="section-title">ALL SONGS</h5>
  </header>
  <hr />
  {% else %}
  <header class="section-heading">
    <h5 class="section-title">SEARCH RESULTS</h5>
  </header>
  <hr />
  {% endif %}

  <div class="row" style="margin-right: 65px; margin-left: -15px">
    {% if songs %}
    {% for song in songs %}
    <div class="col-sm-2 col-md-2" style="padding-bottom: 15px">
      <div class="hovereffect">
        <img
          src="{{ song.song_cover.url }}"
          class="img-responsive"
          height="135"
          width="135"
          style="border-radius: 8px 8px 8px 8px"
        />
        <div class="overlay">
          <a
            class="btn btn-outline-light mt-5 mx-1"
            href="{% url 'song_details' song.id %}"
            ><i class="fa fa-play" aria-hidden="true"></i
          ></a>
          <a
            class="btn btn-outline-light mt-5 mx-1"
            href="{% url 'song_details' song.id %}"
            ><i class="fa fa-info-circle" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="alert alert-info">No songs found.</p>
    {% endif %}
  </div>
</div>

<br />
<br />
<br />
<br />

{% endblock %}
